<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://wss-1259372845.cos.ap-chengdu.myqcloud.com/uv2lsk7%2F8%2Fcp%2F8cpeuv2lsk7?response-content-disposition=attachment%3B+filename%3D%22微信_8.0.16.ipa%22%3B+filename%2A%3Dutf-8%27%27%25E5%25BE%25AE%25E4%25BF%25A1_8.0.16.ipa&sign=q-sign-algorithm%3Dsha1%26q-ak%3DAKID96nJdhhWHm11lGpUSBpIVTBesra5EUp0%26q-sign-time%3D1652954986%3B1652956786%26q-key-time%3D1652954986%3B1652956786%26q-header-list%3D%26q-url-param-list%3Dresponse-content-disposition%26q-signature%3D4bb4a9daf9dbeb39fdebac1fcdb00db6764bfe41</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.tencent.xin.8MJ6AX2M9M</string>
                    <key>bundle-version</key>
                    <string>8.0.1</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>别下载</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>

